#contact {
    margin-top: 20px;
    background: #1E1E3A;
    margin: 20px;
    border: 1px solid #3A3A5A;
    border-radius: 12px;

    textarea, input, select {
        background: #2D2D4D;
        border: 1px solid #4b4b6a;
    }
    textarea:hover, input:hover, select:hover{
        background: #303055;
    }
    textarea:focus, input:focus, select:focus{
        border-color: #FF8A65;
        outline: none;
    }
    p{
        color: #d2d2ff;
    }
}