.subpage-wrapper{
    background: #1E1E3A;
    font-family: Arial, sans-serif;
    margin: 20px;
    border: 1px solid #FF8A65;
    border-radius: 12px;
    padding: 20px;
    min-height: 100vh;
    h2 {
        font-weight: bold;
        text-align: center;
        margin: 50px auto;
    }
    p{
        color: #d2d2ff;
    }
    form{
        background: #1E1E3A;
        padding: 20px;
        border-radius: 12px;
        flex: 1;
        /* min-width: 300px; disabled for responsive*/
        max-width: 600px;
    }
    .form-output-wrapper {
        display: flex;
        gap: 30px;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    label {
        font-weight: bold;
        margin-top: 10px;
    }
    
    #output {
    background-color: #0F0F1A;
    color: #d4d4d4;
    margin: 20px auto 30px;
    padding: 20px;
    border-radius: 10px;
    font-family: monospace;
    overflow-x: auto;
    white-space: pre-wrap;
    word-break: break-word;
    flex: 1;
    max-width: 560px;
    }

    #output span.string {
        color: #ce9178;
    }
    #output span.number {
        color: #b5cea8;
    }
    #output span.boolean {
        color: #569cd6;
    }
    #output span.null {
        color: #dcdcaa;
    }
    #output span.key {
        color: #9cdcfe;
    }

    .tiled-layout {
        padding: 0px;
        background: transparent;

        p{
            color: #00E5FF;
        }
        h3{
            font-weight: bold;
        }
        .id-p{
            color: #A0A0FF;
        }
        .quantity-p{
            color: #FF8A65;
        }
        .in-stock-p{
            color: #6CFFA0;
        }
    }
    .tile{
        align-items: center;
        background: #2D2D4D;
        border: 1px solid #4A4A6B;
        height: auto;
    }
    .tile:hover {
        background: #3A3A5A;
        transition: none;
        transform: none;
    }
}