.tiled-layout-section{
  min-height: 100vh;
  margin: 20px;
  
  .tiled-layout {
    margin: 100px 0 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
  }

  /* .tile styles in App.css global */
}
